  <button id="statistics{{ suffix|default('') }}"
          class="btn btn-outline-primary btn-block c-stat-button"
    onclick="program.projectViewButtonsAction('{{ path('code_statistics', {'id': program.id }) }}', '#statistics-button-spinner{{ suffix|default('') }}',
    '#statistics-icon{{ suffix|default('') }}{{ suffix|default('') }}')">
    <i class="material-icons d-none text-left" id="statistics-button-spinner{{ suffix|default('') }}">
      {% include 'Default/loadingSpinner.html.twig' with {'spinner_id': 'statistics-spinner' ~ suffix|default(), 'size': 'small'} %}
    </i>
    <i class="material-icons align-bottom" id="statistics-icon{{ suffix|default('') }}">assessment</i>
    <span>{{ "code statistics"|trans({}, "catroweb") }}</span>
  </button>